{% extends 'base.html.twig' %}

{% block navMenu %}
    <ul class="nav navbar-nav">
        <li id="home"><a href="#">Home</a></li>
        <li id="tickets"><a href="#">Tickets</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if not app.user %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        {% else %}
            <li><a href="#">{{ app.user }}</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <div class="panel panel-success base-panel">
        <div class="panel-heading">
            <h2 class="panel-title">Tickets</h2>
        </div>
        <div class="panel-body">
            <div class="col-xs-4">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Tickets ids</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="#">#234567</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">#23454567</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">#23434567</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Products from #orderId</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Namedfg</td>
                    </tr>
                    <tr>
                        <td>Namesdfg</td>
                    </tr>
                    <tr>
                        <td>Namgfe</td>
                    </tr>
                    <tr>
                        <td>Namdfgfdgfe</td>
                    </tr>
                    <tr>
                        <td>Nadfgdfgmgfe</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-check"></span> Prepared</button>
            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Finalized</button>
            <button type="button" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('document').ready(function () {
            $('#tickets').addClass('active');
        });
    </script>
{% endblock %}
