{% extends 'base.html.twig' %}

{% block navMenu %}
    <ul class="nav navbar-nav">
        <li id="home"><a href="#">Home</a></li>
        <li><a href="#">Available tables</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if not app.user %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        {% else %}
            <li><a href="#">{{ app.user }}</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <div class="panel panel-default base-panel">
        <div class="panel-heading">
            <h2 class="panel-title">TEST</h2>
        </div>
        <div class="panel-body">
            Lorem Ipsum
        </div>
        <div class="panel-footer">
            Test
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('document').ready(function () {
            $('#home').addClass('active');
        });
    </script>
{% endblock %}
