body {
    background-color: #e1e1e1;
}

.navbar-default {
    background-color: #ff474a;
    color: #ffffff;
}

.navbar {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    margin-bottom: 50px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-family: 'Times New Roman', serif;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #000000;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #000000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
    background-color: #ececec;
}

.base-panel {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
}

.navbar-default .navbar-text {
    color: #ffffff;
}
